*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(220, 238, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

}

li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}

button{
    background-color: rgb(92, 159, 236);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border: black solid 1px;
    width: fit-content;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

button:hover{
    background-color: #fff;
    color: rgb(92, 159, 236);
    border: 1px solid black;  
}
header{
    padding: 15px 0px;
    background-color: rgb(177, 213, 247);
    font-family: 'Poppins', sans-serif;

}
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
nav .logo{
    font-weight: 7000;
    font-size: 25px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;

}

nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
    
}
a{
    color: black;
}
a:active{
    color: rgb(137, 180, 236);
}

.serach-field{
    display: flex;
    gap: 30px;
    
}
input{
    padding: 4px 10px;
    background-color:rgb(152, 193, 240);
    border: #fff;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-left-section{
    width: 60%;
    padding: 0 8%;
    

} 
.hero-left-section h1{
   
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 16px;
}
.hero-left-section span{
    color: rgb(68, 149, 241);
    font-weight: 900;
    background-color: rgb(201, 224, 245);
    padding:4px ;  
}
.hero-left-section p{
    font-size: 30px;
    font-weight: 500;
}
.hero-left-section p span{
    font-size: 25px;
    font-weight: 700;
}
.hero-right-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-right-section-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-right-section img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

footer{
    font-weight: 500;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    background-color: rgb(177, 213, 247);

}
footer ul{
    display: flex;
    align-items: center;
    gap: 30px;
}



