*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(225, 238, 225);

}
nav{
    padding: 20px;
    height: 15vh;
    

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 15%;
    font-weight: 600;



}
nav ul h1{
    width: 50px;

}
body{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content:space-between ;
    height: 80%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-main{
    width: 40%;
    display: flex;
    flex-direction: column;    
    

}
.left-main h1{
    font-size: 60px;
}
span{
    color: rgb(165, 218, 163);
    font-weight: 600;
}
.left-main p{
    font-size: 20px;
    margin: 5% 0;

}
.left-main button{
    padding: 18px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    width: 40%;
    border-radius: 15px;
    background-color: rgb(174, 230, 174);

}
.left-main button:hover{
    color:rgb(174, 230, 174);
    background-color: #fff;

}
.right-main{
    display: flex;
    width: 60%;
    padding-left: 7%;
    margin-right: 5%;
    

}

img{
    height: 300px;
    
}
