body{
    margin: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid  1px;
    padding: 10px;
   
}
.container h1{
    font-size: 25px;
    margin: 0%;
}

.container div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div span{
    border: 1px solid;
    padding: 2px 7px;
    margin: 4px;
}


